<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.mapper.TypeMapper">

<!--    int saveType(Type type);-->
    <insert id="saveType" parameterType = "com.star.domain.Type">
        insert into t_type
        (name) values (#{name})
    </insert>

<!--    Type getType(Long id);-->
    <select id="getType" resultType="com.star.domain.Type">
        select * from t_type
        where id = #{id}
    </select>

<!--    List<Type> getAllType();-->
    <select id="getAllType" resultType="com.star.domain.Type">
        select * from t_type
    </select>

<!--    Type getTypeByName(String name);-->
    <select id="getTypeByName" resultType="com.star.domain.Type">
        select * from t_type where name = #{name}
    </select>

<!--    int updateType(Type type);-->
    <update id="updateType" parameterType="com.star.domain.Type">
        update t_type set name = #{name} where id = #{id}
    </update>

<!--    void deleteType(Long id);-->
    <delete id="deleteType">
        delete from t_type where id = #{id}
    </delete>

    <resultMap id="type" type="com.star.domain.Type">
        <id property="id" column="tid"/>
        <result property="name" column="name"/>
        <collection property="blogs" ofType="com.star.domain.Blog">
            <id property="id" column="bid"/>
            <result property="title" column="title"/>
            <result property="typeId" column="type_id"/>
        </collection>
    </resultMap>
    <!--查询分类-->
    <select id="getAllTypeAndBlog" resultMap="type">
    select t.id tid, t.name, b.id bid, b.title,b.type_id
    from myblog.t_type t,myblog.t_blog b
    where t.id = b.type_id
    </select>

</mapper>